<div id="bubble">
    {{!-- url to make new logo >> https://engfto.com/index/animated_neon_text_maker/0-27 --}}
    <a href="/events">
        <img src="/images/header.gif" id="header-logo" >  
    </a>
    {{!-- <hgroup class="speech-bubble" style="text-align:center;">
        <h1>WHAT'S<br>HAPPENIN' TN?</h1>
    </hgroup>
    <hgroup class="speech-bubble-2" style="text-align:center;">
        <h1><a href="/events" id="home">#KEEPITLOCAL</a></h1>
    </hgroup> --}}
    
</div>
<div id="event-main">

    <h1><span class="event-name">{{select_event.data.name}}</span></h1>
    <br>
    <br>
    <p>description description descriptiondescription description description descridescription description ption.</p>
    <br>
    <p><span class="event-votes">{{select_event.data.upVotes}}</span> rsvps for this event.</p>
    <br>
    <p>located at <span class="event-location">{{select_event.data.location}}</span></p>
    <br>
    <p>started by <span class="event-creator">{{select_event.data.creatorID}}</span></p>
    {{#if select_event.ownedByUser}}
        <button type="button" class="edit-btn" data-id="{{select_event.data.id}}">Edit this event</button>
    {{else}}
        <button type="button" class="rsvp-btn" data-id="{{select_event.data.id}}">RSVP to this event</button>
    {{/if}}
    <br>
    <br>

    <div id="messages">
        <br>
        <h4>Messages</h4>
        <ul id="messages-list">
            {{#each messages}}
                {{#if_eq select_event.data.creatorID '==' this.creatorID }}
                    <li><span class="msg-date">{{moment this.createdAt "MMMM DD, YYYY"}}</span>  <span class="msg-user">{{this.creatorID}}</span>  {{this.content}} </li>
                {{else}}
                    <li><span class="msg-date">{{moment this.createdAt "MMMM DD, YYYY"}}</span>  <span class="msg-op">{{this.creatorID}}</span>  {{this.content}} </li>
                {{/if_eq}}
            {{/each}}
            <br><br>
        </ul>
        <input type="text" id="new-msg" placeholder="new message">
        <button type="button" class="msg-btn" data-id="{{select_event.data.id}}">post</button>
    </div>
</div>

<div id="dark-panel">
    <div class="listings">
        {{!-- <div class="list-group rsvp-listings">
            <h3>
                RSVP'D EVENTS
            </h3>
            <ul>
                {{#each rsvp_events}}
                <li>
                    <h4><span class="listing-item">{{this.name}}</span> <span class="listing-item">{{this.location}}</span> <span
                            class="listing-item">{{this.votes}}</span> <span class="listing-item">{{this.creatorId}}</span></h4>
                </li>
                {{/each}}
            </ul>
        </div> --}}


        

        <div class="list-group user-listings">
            <h3 class="listings-section">
                YOUR EVENTS
            </h3>
            <div>
                <table align="left" id="listings-table">
                <tr>
                
                    <th><span class="listing-header">name</span></th> 
                    <th><span class="listing-header">location</span></th> 
                    <th><span class="listing-header">category</span></th> 
                    <th><span class="listing-header">rsvps</span></th> 
                    <th><span class="listing-header">creator</span></th>
                
                </tr>
                {{#each user_events}}
                    <tr class="listing-row">
                        <td><span class="listing-item listing-item-name"><a href="/{{this.id}}" class="event-link">{{this.name}}</a></span></td>
                        <td><span class="listing-item listing-item-local">{{this.location}}</span></td>
                        <td><span class="listing-item listing-item-cat">{{this.category}}</span></td>
                        <td><span class="listing-item listing-item-votes">{{this.upVotes}}</span></td>
                        <td><span class="listing-item listing-item-id">{{this.creatorID}}</span></td>
                    </tr>
                {{/each}}
                </table>
                <button type="button" class="new-event-btn">make new event</button>
                <br><br><br><br>
            </div>
        </div>
        <br>
        <div class="list-group all-listings">
            <h3 class="listings-section">
                ALL EVENTS
            </h3>
            <div>
                <table align="left" id="listings-table">
                <tr>

                    <th><span class="listing-header">name</span></th> 
                    <th><span class="listing-header">location</span></th> 
                    <th><span class="listing-header">category</span></th> 
                    <th><span class="listing-header">votes</span></th> 
                    <th><span class="listing-header">creator</span></th>
                
                </tr>
                {{#each all_events}}
                    <tr class="listing-row">
                        <td><span class="listing-item listing-item-name"><a href="/{{this.id}}" class="event-link">{{this.name}}</a></span></td>
                        <td><span class="listing-item listing-item-local">{{this.location}}</span></td>
                        <td><span class="listing-item listing-item-cat">{{this.category}}</span></td>
                        <td><span class="listing-item listing-item-votes">{{this.upVotes}}</span></td>
                        <td><span class="listing-item listing-item-id">{{this.creatorID}}</span></td>
                    </tr>
                {{/each}}
                </table>
                <br><br><br><br>
            </div>
        </div>
    </div>

</div>




<footer class="footer">
    KEEP IT LOCAL®
</footer>

<script type="text/javascript">
    $(document).ready(function(){
        $(".event-link").click(function () {
            let event_id = $(this).attr("data-id").val()
            $.ajax(`/${event_id}`, {
                method: "GET",
                data: {
                    id: event_id
                }
            }).then(function (result) {
                window.location.replace(result);
            })
        })

        $(".rsvp-btn").click(function(){
            let rsvp = {
                event_id:$(this).attr("data-id")
            }
            $.ajax("/api/rsvp/",{
                method:"PUT",
                data:rsvp
            }).then(function(result){
                console.log(result)
                $.ajax("/")
                window.location = `http://localhost:8080/${rsvp.event_id}`
                //window.location.replace(result)
            })
        })

        $(".msg-btn").click(function(event){
            event.preventDefault();
            let this_id = $(this).attr("data-id");
            let this_content = $("#new-msg").val().trim();
            console.log(this_id + this_content);
            $.ajax("/api/message", {
                method: "POST",
                data: {id: this_id,
                       content: this_content}
            }).then(function(result){
                console.log("new message posted");
                $("#new-msg").val("");
                 $.ajax("/api/message/"+this_id, {
                    method: "GET"
                }).then(function(result){
                    console.log('result');
                    console.log(result);
                    $('#messages-list').empty();
                    result.forEach(function(item){
                        let date = $('<span>').addClass('msg-date').text(formatDate(item.createdAt));
                        let creator = $('<span>').addClass('msg-op').text(item.creatorID);
                        let listItem = $('<li>').append(date).append(creator);
                        listItem.append($('<span>').addClass('msg-content').text(item.content));
                        $("#messages-list").append(listItem);
                    })
            })
        })
    })

    function formatDate(date){
        let months =  ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
        let dateItems = (date.split('-' && 'T')[0]).split('-');
        return months[parseInt(dateItems[1])-1] + " " + dateItems[2] + ", " + dateItems[0];
    }
    })

</script>