<div id="bubble">
    {{!-- url to make new logo >> https://engfto.com/index/animated_neon_text_maker/0-27 --}}
    <a href="/">
        <img src="/images/header2.gif" id="header-logo" >  
    </a>
    {{!-- <hgroup class="speech-bubble" style="text-align:center;">
        <h1>WHAT'S<br>HAPPENIN' TN?</h1>
    </hgroup>
    <hgroup class="speech-bubble-2" style="text-align:center;">
        <h1><a href="/events" id="home">#KEEPITLOCAL</a></h1>
    </hgroup> --}}
    
</div>
<div id="event-main">

    <h1 id="message-header"><span class="event-name">{{select_event.data.name}}</span></h1>
    <br>
    <br>
    <div id="message-description">
        <p id="description" class="event">{{select_event.data.description}}</p>
    </div>
    
    <p class="event"><span id="rsvp-count" class="event-votes">{{select_event.data.upVotes}}</span> rsvps for this event.</p>
    
    <p class="event"> located at <span class="event-location">{{select_event.data.location}}</span></p>

    <p class="event"> on <span class="event-date">{{moment select_event.data.date "MMMM DD, YYYY"}}</span></p>
    
    <p class="event">hosted by <span class="event-creator">{{select_event.data.creatorID}}</span></p>
    {{#if select_event.ownedByUser}}
        <button type="button" id="side-btn" class="edit-btn" data-id="{{select_event.data.id}}">edit this event</button>
    {{else}}
        <button type="button" id="side-btn" class="rsvp-btn" data-id="{{select_event.data.id}}">rsvp to this event</button>
    {{/if}}
    <br>
    <br>

    <div id="messages">
        <br>
        <h4>Messages</h4>
        <ul id="messages-list">
            {{#each messages}}
                {{#if select_event.ownedByUser}}
                    <li><span class="msg-date">{{moment this.createdAt "MMMM DD, YYYY"}}</span> <span class="msg-time">{{moment this.createdAt "hh:mm A"}}</span> <span class="msg-user">{{this.creatorID}}</span>  {{this.content}} </li>
                {{else}}
                    <li><span class="msg-date">{{moment this.createdAt "MMMM DD, YYYY"}}</span> <span class="msg-time">{{moment this.createdAt "hh:mm A"}}</span> <span class="msg-op">{{this.creatorID}}</span>  {{this.content}} </li>
                {{/if}}
            {{/each}}
            <br><br>
        </ul>
        <input type="text" id="new-msg" placeholder="new message">
        <button type="button" class="msg-btn" data-id="{{select_event.data.id}}">post</button>
    </div>
</div>

<div id="dark-panel">
    <div class="listings">
        {{!-- <div class="list-group rsvp-listings">
            <h3>
                RSVP'D EVENTS
            </h3>
            <ul>
                {{#each rsvp_events}}
                <li>
                    <h4><span class="listing-item">{{this.name}}</span> <span class="listing-item">{{this.location}}</span> <span
                            class="listing-item">{{this.votes}}</span> <span class="listing-item">{{this.creatorId}}</span></h4>
                </li>
                {{/each}}
            </ul>
        </div> --}}


        

        <div class="list-group user-listings">
            <h3 class="listings-section">
                YOUR EVENTS
            </h3>
            <div>
                <table align="left" id="listings-table">
                <tr>
                    <th><span class="listing-header">name</span></th>
                    <th><span class="listing-header">date</span></th>
                    <th><span class="listing-header">category</span></th>
                    <th><span class="listing-header">distance</span></th>
                    <th><span class="listing-header">rsvps</span></th>
                    <th><span class="listing-header">creator</span></th>
                </tr>
                {{#each user_events}}
                    <tr class="listing-row" data-id="{{this.id}}"> 
                        <td><span class="listing-item listing-item-name"><a href="/events/{{this.id}}" class="event-link" data-id="{{this.id}}">{{this.name}}</a></span></td>
                        <td><span class="listing-item listing-item-date">{{moment this.date "MM/DD/YY"}}</span></td>
                        <td><span class="listing-item listing-item-cat">{{this.category}}</span></td>
                        <td><span class="listing-item listing-item-local">{{this.distance}} mi</span></td>
                        <td><span class="listing-item listing-item-votes">{{this.upVotes}}</span></td>
                        <td><span class="listing-item listing-item-id">{{this.creatorID}}</span></td>
                    </tr>
                {{/each}}
                </table>
                {{!-- <button type="button" class="new-event-btn">make new event</button> --}}
                <a href="/create" class="new-event-btn">make new event</a>
                <br><br><br><br>
            </div>
        </div>
        <br>
        <div class="list-group all-listings">
            <h3 class="listings-section">
                ALL EVENTS
            </h3>
            <div>
                <table align="left" id="listings-table">
                <tr>
                    <th><span class="listing-header">name</span></th>
                    <th><span class="listing-header">date</span></th>
                    <th><span class="listing-header">category</span></th>
                    <th><span class="listing-header">distance</span></th>
                    <th><span class="listing-header">rsvps</span></th>
                    <th><span class="listing-header">creator</span></th>
                </tr>
                {{#each all_events}}
                    <tr class="listing-row" data-id="{{this.id}}">
                        <td><span class="listing-item listing-item-name"><a href="/events/{{this.id}}" class="event-link">{{this.name}}</a></span></td>
                        <td><span class="listing-item listing-item-date">{{moment this.date "MM/DD/YY"}}</span></td>
                        <td><span class="listing-item listing-item-cat">{{this.category}}</span></td>
                        <td><span class="listing-item listing-item-local">{{this.distance}} mi</span></td>
                        <td><span class="listing-item listing-item-votes">{{this.upVotes}}</span></td>
                        <td><span class="listing-item listing-item-id">{{this.creatorID}}</span></td>
                    </tr>
                {{/each}}
                </table>
                <br><br><br><br>
            </div>
        </div>
    </div>

</div>



<div id="refer-box">
    <p id="refer-msg">your referral code:</p>
    <span id="refer-code"></span>
</div>


<footer class="footer">
    <button id="refer-link">REFER A FRIEND</button>
    KEEP IT LOCAL®
    <span id="logout"><a href="/logout" id="logout-link">LOGOUT</a></span>
</footer>

<script type="text/javascript">

    $(document).ready(function () {

        $("#refer-link").click(function () {
            $.ajax("/api/code", {
                method: "GET"
            }).then(function (res) {
                $("#refer-box").css('display', 'initial');
                switch (res.status) {
                    case 0:
                        $("#refer-msg").text("New members must wait 3 days until they can refer a friend.");
                        $("#refer-box").css('display', 'initial');
                        $("#refer-box").fadeIn(1000);
                        break;
                    case 1:
                        $.ajax("/api/code", {
                            method: "POST"
                        }).then(function (resp) {
                            console.log(resp.code);
                            $("#refer-msg").text("You're not eligible for a new code yet.");
                            $("#refer-code").text(resp.code)
                            $("#refer-box").fadeIn(1000)
                        })
                        break;
                    case 2:
                        $.ajax("/api/code", {
                            method: "POST"
                        }).then(function (resp) {
                            console.log(resp.code);
                            $("#refer-code").text(resp.code)
                            $("#refer-box").fadeIn(1000)
                        })
                        break;
                    default:
                        $("#refer-msg").text("Sorry, something went wrong...");
                        $("#refer-box").fadeIn(1000);
                        break;
                }
            })
        })

        $(document.body).on("dblclick", function (event) {
            $("#refer-box").fadeOut(500)
        })

        $(".new-event-btn").click(function () {
            $.ajax(`/create`, {
                method: "GET"
            }).then(function (result) {
                console.log(result);
                window.location.replace(result);
                //window.location = `/event/${id}`
            })
        })

        $(document.body).on("click", ".listing-row", function (event) {
            console.log('clicked row');
            console.log(window.location.hostname + '/events/' + $(this).data('id'));
            window.location.href = $(this).data('id');
        })

        $(document.body).on("click", ".rsvp-btn", function (event) {
            let rsvp = {
                event_id:$(this).attr("data-id")
            }
            $.ajax("/api/rsvp/",{
                method:"PUT",
                data:rsvp
            }).then(function(result){
                console.log("PUT result")
                console.log(result)
                //window.location.replace(result)
                //$("#rsvp-count").empty()
                $.ajax(`/api/rsvp/${rsvp.event_id}`, {
                    method: "GET"
                }).then(function (result) {
                    console.log('GET result');
                    console.log(result.upVotes);
                    $('#rsvp-count').html(result.upVotes);
                    //$("#side-btn").removeClass("rsvp-btn").val("you rsvp'd to this event")
                })
            })
        })

        $(".msg-btn").click(function(event){
            event.preventDefault();
            let this_id = $(this).attr("data-id");
            let this_content = $("#new-msg").val().trim();
            console.log(this_id + this_content);
            $.ajax("/api/message", {
                method: "POST",
                data: {id: this_id,
                       content: this_content}
            }).then(function(result){
                console.log("new message posted");
                $("#new-msg").val("");
                $.ajax("/api/message/"+this_id, {
                    method: "GET"
                }).then(function(result){
                    console.log('result');
                    console.log(result);
                    $('#messages-list').empty();
                    result.forEach(function(item){
                        let date = $('<span>').addClass('msg-date').text(formatDate(item.createdAt));
                        let creator = $('<span>').addClass('msg-op').text(item.creatorID);
                        let listItem = $('<li>').append(date).append(creator);
                        listItem.append($('<span>').addClass('msg-content').text(item.content));
                        $("#messages-list").append(listItem);
                    })
                    $("#messages-list").scrollTop = $("#messages-list").scrollHeight;
                })
        })
    })
    
        $(document.body).on("click", ".edit-btn", function(event){
        console.log('edit item');
        let headerText = $('.event-name').text();
        $('.event-name').remove();
        let headerContainer = $('<div>').addClass('input-field col s6');
        let headerInput = $('<input>').attr('id', 'edit-event-name').attr('type', 'text').addClass('validate').val(headerText);
        headerContainer.append(headerInput);
        $("#message-header").append(headerContainer);

        let descriptionText = $("#description").text();
        $("#description").remove();
        let descriptionContainer = $('<div>').addClass('input-field col s6');
        let descriptionInput = $('<textarea>').attr('id', 'edit-event-description').addClass('validate details-edit').val(descriptionText);
        descriptionContainer.append(descriptionInput);
        $("#message-description").append(descriptionContainer);
        $(this).addClass('confirm-btn').removeClass('edit-btn').text('Confirm Changes');
    });

        $(document.body).on('click', '.confirm-btn', function(event){
        let newName = $("#edit-event-name").val().trim();
        let newDescription = $('#edit-event-description').val().trim();
        let eventID = $(this).data('id');
        let queryURL = '/api/event/' + eventID;
        $.ajax(queryURL, {
            method: 'PUT',
            data: {name: newName,
                   description: newDescription}
        }).then(function(){
            $.ajax(queryURL, {
                method: 'GET'
            }).then(function(resp){
                $("#message-description").empty();
                $("#message-description").append($("<p>").attr("id", "description").text(resp.description));
                $('#message-header').empty();
                $('#message-header').append($('<span>').addClass('event-name').text(resp.name));
                $('#side-btn').removeClass('confirm-btn').addClass('edit-btn').text('Edit this event');
            })
        })
    });

        function formatDate(date){
        let months =  ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
        let dateItems = (date.split('-' && 'T')[0]).split('-');
        return months[parseInt(dateItems[1])-1] + " " + dateItems[2] + ", " + dateItems[0];
    }
    
    })

</script>