<div id="bubble">
    <hgroup class="speech-bubble" style="text-align:center;">
        <h1>WHAT'S<br>HAPPENIN'</h1>
    </hgroup>
</div>


<div id="dark-panel">
    <div class="listings">
        {{!-- <div class="list-group rsvp-listings">
            <h3>
                RSVP'D EVENTS
            </h3>
            <ul>
                {{#each rsvp_events}}
                <li>
                    <h4><span class="listing-item">{{this.name}}</span> <span class="listing-item">{{this.location}}</span> <span
                            class="listing-item">{{this.votes}}</span> <span class="listing-item">{{this.creatorId}}</span></h4>
                </li>
                {{/each}}
            </ul>
        </div> --}}


        

        <div class="list-group user-listings">
            <h3>
                YOUR EVENTS
            </h3>
            <div>
                <table align="left" id="listings-table">
                <tr>
                
                    <th><span class="listing-header">name</span></th> 
                    <th><span class="listing-header">location</span></th> 
                    <th><span class="listing-header">category</span></th> 
                    <th><span class="listing-header">votes</span></th> 
                    <th><span class="listing-header">creator</span></th>
                
                </tr>
                {{#each user_events}}
                <tr class="listing-row">
                
                    <td><span class="listing-item listing-item-name">{{this.name}}</span></td> 
                    <td><span class="listing-item listing-item-local">{{this.location}}</span></td> 
                    <td><span class="listing-item listing-item-cat">{{this.category}}</span></td> 
                    <td><span class="listing-item listing-item-votes">{{this.upVotes}}</span></td> 
                    <td><span class="listing-item listing-item-id">{{this.creatorID}}</span></td>
                
                </tr>
                {{/each}}
                </table>
                <br><br><br><br>
            </div>
        </div>
        <br>
        <div class="list-group all-listings">
            <h3>
                ALL EVENTS
            </h3>
            <div>
                <table align="left" id="listings-table">
                <tr>

                    <th><span class="listing-header">name</span></th> 
                    <th><span class="listing-header">location</span></th> 
                    <th><span class="listing-header">category</span></th> 
                    <th><span class="listing-header">votes</span></th> 
                    <th><span class="listing-header">creator</span></th>
                
                </tr>
                {{#each all_events}}
                <tr class="listing-row">
                
                    <td><span class="listing-item listing-item-name">{{this.name}}</span></td> 
                    <td><span class="listing-item listing-item-local">{{this.location}}</span></td> 
                    <td><span class="listing-item listing-item-cat">{{this.category}}</span></td> 
                    <td><span class="listing-item listing-item-votes">{{this.upVotes}}</span></td> 
                    <td><span class="listing-item listing-item-id">{{this.creatorID}}</span></td>
                
                </tr>
                {{/each}}
                </table>
                <br><br><br><br>
            </div>
        </div>
    </div>

</div>




<footer class="footer">
    <p>KEEP IT LOCAL ©</p>
</footer>