<div id="bubble">
    <a href="/">
        <img src="/images/header2.gif" id="header-logo">
    </a>
    <hgroup class="speech-bubble" style="text-align:center;">
        <h1>WHAT'S<br>HAPPENIN' TN?</h1>
    </hgroup>
    <hgroup class="speech-bubble-2" style="text-align:center;">
        <h1><a href="/events" id="home">#KEEPITLOCAL</a></h1>
    </hgroup>
    
</div>


<div id="dark-panel">
    <div class="listings">
        {{!-- <div class="list-group rsvp-listings">
            <h3>
                RSVP'D EVENTS
            </h3>
            <ul>
                {{#each rsvp_events}}
                <li>
                    <h4><span class="listing-item">{{this.name}}</span> <span class="listing-item">{{this.location}}</span> <span
                            class="listing-item">{{this.votes}}</span> <span class="listing-item">{{this.creatorId}}</span></h4>
                </li>
                {{/each}}
            </ul>
        </div> --}}




        <div class="list-group user-listings">
            <h3 class="listings-section">
                YOUR EVENTS
            </h3>
            <div>
                <table align="left" id="listings-table">
                <tr>
                
                    <th><span class="listing-header">name</span></th> 
                    <th><span class="listing-header">location</span></th> 
                    <th><span class="listing-header">category</span></th> 
                    <th><span class="listing-header">votes</span></th> 
                    <th><span class="listing-header">creator</span></th>
                
                </tr>
                {{#each user_events}}
                    <tr class="listing-row">
                        <td><span class="listing-item listing-item-name"><a href="/events/{{this.id}}" class="event-link" data-id="{{this.id}}">{{this.name}}</a></span></td>
                        <td><span class="listing-item listing-item-local">{{this.location}}</span></td>
                        <td><span class="listing-item listing-item-cat">{{this.category}}</span></td>
                        <td><span class="listing-item listing-item-votes">{{this.upVotes}}</span></td>
                        <td><span class="listing-item listing-item-id">{{this.creatorID}}</span></td>
                    </tr>
                {{/each}}
                </table>
                {{!-- <button type="button" class="new-event-btn">make new event</button> --}}
                <a href="/create" class="new-event-btn">make new event</a>
                <br><br><br><br>
            </div>
        </div>
        <br>
        <div class="list-group all-listings">
            <h3 class="listings-section">
                ALL EVENTS
            </h3>
            <div>
                <table align="left" id="listings-table">
                <tr>

                    <th><span class="listing-header">name</span></th> 
                    <th><span class="listing-header">location</span></th> 
                    <th><span class="listing-header">category</span></th> 
                    <th><span class="listing-header">rsvps</span></th> 
                    <th><span class="listing-header">creator</span></th>
                
                </tr>
                {{#each all_events}}
                    <tr class="listing-row">
                        
                        <td><span class="listing-item listing-item-name"><a href="/events/{{this.id}}" class="event-link" data-id="{{this.id}}">{{this.name}}</a></span></td>
                        <td><span class="listing-item listing-item-local">{{this.location}}</span></td>
                        <td><span class="listing-item listing-item-cat">{{this.category}}</span></td>
                        <td><span class="listing-item listing-item-votes">{{this.upVotes}}</span></td>
                        <td><span class="listing-item listing-item-id">{{this.creatorID}}</span></td>
                        
                    </tr>
                {{/each}}
                </table>
                <br><br><br><br>
            </div>
        </div>
    </div>
    

</div>




<footer class="footer">
    KEEP IT LOCAL®
    <span id="logout"><a href="/logout" id="logout-link">LOGOUT</a></span>
</footer>

<script>
    //$(document).ready(function () {
       // $(".event-link").click(function () {
            //let event_id = $(this).attr("data-id").val()
            //$.ajax(`/events/${event_id}`, {
               // method: "GET",
               // data: { 
                //    id: event_id
               // }
           // }).then(function (result) {
              //  console.log(result);
              //  window.location.replace(result);
                //window.location = `/event/${id}`
           // })
       //})
        
        
    //})
</script>